<style>
  .boardtable {
    min-height: 800px;
  }
  
  
  
 
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    text-align: center;
    padding: 10px;
  }

  tbody tr {  
    height: 50px;
  }

</style>
<%  function formatDateTime(dateTimeString) {
  const insertTime = new Date(dateTimeString);
  const year = insertTime.getFullYear();
  const month = insertTime.getMonth() + 1; // 월은 0부터 시작하므로 1을 더해줍니다.
  const date = insertTime.getDate();
  const hours = insertTime.getHours();
  const minutes = insertTime.getMinutes();
  
  // 날짜와 시간을 문자열로 변환합니다.
  const formattedDate = `${year}.${month < 10 ? '0' + month : month}.${date < 10 ? '0' + date : date}`;
 
  
  // 날짜와 시간을 결합한 문자열을 반환합니다.
  return `${formattedDate}`;
}

%>
<h2>내 게시물</h2>
    <hr style="border: none; border-top: 2px solid rgb(131, 130, 130); margin-bottom: 10px ; ">
<div class="boardtable">
<table class="table">
    <thead>
      <tr>
        <th scope="col">조회수</th>
        <th scope="col">좋아요</th>
        <th scope="col">제목</th>
        <th scope="col">작성일</th>
      </tr>
    </thead>
    <tbody id="boardMaster">
      <% for (let i = 0; i < results.length; i++) { %>
        <tr>
          <td><%= results[i].view_cnt %></td>
          <td>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
            </svg>
            <%= results[i].likes_cnt %>
          </td>
          <td><a href="/board/read/<%= results[i].idx %>"><%= results[i].title %></a></td>
          <td><%= formatDateTime(results[i].insert_time) %></td>
        </tr>
      <% } %>
    </tbody>
  </table>

<button type="button" class="btn btn-info" onclick="location.href='/board/write'">글쓰기</button>
</div>